* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --ff-principal: "Staatliches", cursive;
  --ff-secondary: "Palanquin", sans-serif;

  --fc-header-title: #ffffff;
  --fc-wrapper-text: #23053a;
  --fc-card-title: #4a4e69;

  --bg-header: #8e9aaf;
  --bg-header-title: #cbc0d3;
  --bg-body: #eff1ff;
  --bg-card-title: #feebfa;
}
body {
  width: 100vw;
  font-size: 1.6rem;
}
header {
  display: grid;
  width: 100%;
  height: 27.9rem;
  background-color: var(--bg-header);
  padding-bottom: 2.9rem;
}

header img {
  width: 13.7rem;
  height: 13.7rem;
  margin: 3.2rem auto;
}

header h1 {
  width: 100%;
  height: 4.9rem;
  background-color: var(--bg-header-title);
  color: var(--fc-header-title);
  font-family: var(--ff-principal);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

main {
  background-color: var(--bg-body);
  display: flex;
}

.wrapper {
  max-width: 32rem;
  margin: 14px auto 32px;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

img {
  width: 100%;
  height: auto;
}

.wrapper p {
  font-family: var(--ff-secondary);
  color: var(--fc-wrapper-text);
  font-weight: 400;
  font-size: 1.41rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 3.1rem;
}

.wrapper img:nth-child(even) {
  height: 45rem;
}
.ice-card {
  position: relative;
}
.ice-card img {
  object-fit: cover;
  border-radius: 2rem;
  transition: transform 1s 300ms;
  animation: downtop 1.5s reverse;
}

.ice-card img:hover {
  transform: rotatey(180deg);
}

.ice-card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: var(--bg-card-title);
  font-family: var(--ff-principal);
  color: var(--fc-card-title);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  padding: 1px 23px 0 24px;
  border-radius: 2rem;
  animation: topdown 1.5s;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}
