* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */

  --ff-principal: "Staatliches", cursive;
  --ff-secondary: "Palanquin", sans-serif;
  --ff-footer-text: "Open Sans", sans-serif;
  --ff-header-text: "Roboto", sans-serif;

  --fc-header-title: #ffffff;
  --fc-wrapper-text: #23053a;
  --fc-card-title: #4a4e69;

  --bg-header: #8e9aaf;
  --bg-header-title: #cbc0d3;
  --bg-body: #eff1ff;
  --bg-card-title: #feebfa;
}

body {
  width: 100vw;

  max-height: 144rem;
  font-size: 1.6rem;
}

header {
  display: grid;
  width: 100%;
  height: 42rem;
  background-color: var(--bg-header);
  padding-bottom: 2.9rem;
  grid-area: header;
}

header img {
  width: 13.7rem;
  height: auto;
  margin: 3.2rem auto;
}

header h1 {
  width: 100%;
  height: 4.9rem;
  background-color: var(--bg-header-title);
  color: var(--fc-header-title);
  font-family: var(--ff-principal);
  font-weight: 400;
  font-size: 4rem;
  line-height: 81%;
  text-align: center;
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;
  margin-bottom: 2.9rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.header-text {
  display: flex;
  flex: 1;
  justify-content: center;
  padding-bottom: 2px;
  background-color: var(--bg-body);
  padding-top: 1.4rem;
}

.header-text p {
  font-family: var(--ff-secondary);
  color: var(--fc-wrapper-text);
  max-width: 28rem;
  font-weight: 400;
  font-size: 1.21rem;
  line-height: 120%;
  text-align: center;
  padding: 1rem;
  width: 32rem;
}

main {
  background-color: var(--bg-body);
  display: flex;
  grid-area: main;
}

.wrapper {
  width: 100%;
  margin: 0 auto 32px;
  padding-top: 6.4rem;
  display: grid;
  flex-direction: column;
  justify-content: center;
  gap: 3.2rem;
}

.ice-card {
  position: relative;
  width: 22rem;
}

.ice-card img {
  object-fit: cover;
  width: 100%;
  height: 35rem;
  border-radius: 2rem;
  transition: transform 1s 300ms;
  animation: downtop 1.5s reverse;
}
.ice-card .smaller-img {
  height: 15rem;
}

.ice-card img:hover {
  transform: rotatey(180deg);
}

.ice-card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  background-color: var(--bg-card-title);
  font-family: var(--ff-principal);
  color: var(--fc-card-title);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  padding: 1px 23px 0 24px;
  border-radius: 2rem;
  animation: topdown 1.5s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  grid-area: footer;
}

footer p,
a {
  width: 59.2rem;
  height: 2.8rem;
  text-decoration: none;
  font-family: var(--ff-footer-text);
  color: var(--fc-card-title);
  font-size: 1.4rem;
  line-height: 200%;
  text-align: center;
  margin-top: 1rem;
}

footer a {
  font-weight: bold;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@media (min-width: 780px) {
  .header-text p {
    min-width: 47rem;
    font-size: 1.9rem;
  }
  .wrapper {
    display: grid;
    gap: 3.2rem;
    max-width: 47.5rem;
    margin: 3.2rem auto;
    grid-template-areas:
      "ice1 ice2"
      "ice4 ice2"
      "ice4 ice5";
  }

  .wrapper .ice-card:nth-child(1) {
    grid-area: ice1;
    height: 15rem;
  }

  .wrapper .ice-card:nth-child(2) {
    grid-area: ice2;
  }

  .wrapper .ice-card:nth-child(3) {
    display: none;
  }

  .wrapper .ice-card:nth-child(4) {
    grid-area: ice4;
  }

  .wrapper .ice-card:nth-child(5) {
    grid-area: ice5;
    height: 15rem;
  }

  .wrapper .ice-card:nth-child(6) {
    display: none;
  }
}

@media (min-width: 1180px) {
  body {
    display: grid;
    min-height: 72rem;
    grid-template-columns: 37.7rem ;
    grid-template-rows: 30vh 30vh 30vh 10vh;
    grid-template-areas:
      "header main"
      "header main"
      "header main"
      "header footer";
  }

  main {
    max-width: 100%;
    background-color: var(--fc-header-title);
  }

  .wrapper {
    display: grid;
    gap: 3.2rem;
    max-width: 72.4rem;
    min-height: 53.2rem;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
      "ice1 ice2 ice3"
      "ice4 ice2 ice6"
      "ice4 ice5 ice6";
  }

  .wrapper .ice-card:nth-child(1) {
    grid-area: ice1;
    height: 15rem;
  }

  .wrapper .ice-card:nth-child(2) {
    grid-area: ice2;
  }

  .wrapper .ice-card:nth-child(3) {
    display: block;
    grid-area: ice3;
    height: 15rem;
  }

  .wrapper .ice-card:nth-child(4) {
    grid-area: ice4;
  }

  .wrapper .ice-card:nth-child(5) {
    grid-area: ice5;
    height: 15rem;
  }

  .wrapper .ice-card:nth-child(6) {
    display: block;
    grid-area: ice6;
  }

  header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 12.5rem;
  }

  header img {
    width: 21.5rem;
  }

  header h1 {
    font-size: 4.8rem;
    line-height: 110%;
    height: 7rem;
    padding-bottom: 2.3rem;
  }

  .header-text {
    background-color: var(--bg-header);
  }

  .header-text p {
    color: var(--fc-header-title);
    line-height: 110%;
    min-width: 27.5rem;
    font-size: 1.6rem;
    height: 27.2rem;
    margin: 0 auto;
  }

  .ice-card h2 {
    opacity: 0;
    animation: none;
  }

  footer {
    opacity: 1;
    padding: 0;
  }
}
